<% @posts.each_with_index do |post, index| %>
<% css_class = index.even? ? 'direction-r' : 'direction-l'%>
<li>
  <div class="<%=css_class%>">
    <div class="flag-wrapper">
      <span class="flag"><%= post.message %></span>
      <span class="time-wrapper"><span class="time"><%= "#{time_ago_in_words(post.created_at)} ago" %></span></span>
    </div>
    <div class="desc">
      <%= "#{post.user.username || post.user.email}" %>
      <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } if post.user_id == @user.id %>
    </div>
  </div>
</li>
<% end %>
